<a id="{{id}}" href="javascript:void(0)" class="easyui-linkbutton easyui-tooltip custom-equations" title="<span locate='{{ttkey}}'>{{ttkey}}</span>" data-options="plain:true,width:{{width}}">{{{text}}}</a>
